#### SSL #####
security.protocol=SSL
ssl.truststore.location={{ kafka_ssl_directory }}/truststore/server.truststore.jks
ssl.truststore.password={{ truststore_password}}
ssl.keystore.location={{ kafka_ssl_directory }}/keystore/connect-mirror-maker.keystore.jks
ssl.keystore.password={{ keystore_password }}
