# controller - /etc/kafka/config/connect-mirror-maker.properties

[Unit]
Description=Apache Kafka Mirror Maker Process
Documentation=https://kafka.apache.org/documentation.html#georeplication
After=network.target

[Service]
Type=simple
User=kafka
Group=kafka

Environment="LOG_DIR=/var/log/kafka"
Environment="LOG4J_CONFIG=file:/etc/kafka/config/log4j.properties"
Environment="JMX_PORT=9981"
Environment="KAFKA_HEAP_OPTS=-Xmx2G -Xms2G"

ExecStart=/etc/kafka/bin/connect-mirror-maker.sh /etc/kafka/config/connect-mirror-maker.properties --clusters secondary

[Install]
WantedBy=multi-user.target
