## ansible dependancies ##
ansible==12.0.0
yamllint==1.37.1
ansible-lint==25.9.0
flake8==7.3.0
dnspython==2.8.0
pyyaml==6.0.2
passlib==1.7.4
## cloud.linode module dependancies ##
linode-api4==5.35.0
polling==0.3.2
ansible-specdoc==0.0.19
